/* Стили для больших экранов */
#chart-wrapper {
  flex-direction: row;
}
#chart{
  margin-top: 100px;
}
button.delBtn{
  background-color: #ff4d4d;
}
button.delBtn:hover{
  background-color: rgb(198, 71, 71);
}
.gase-selector{
  display: flex;
  flex-grow: 1;
  margin-left: 10px;
  width: 100%;
}
@media (max-width: 1350px) {
  #chart-wrapper {
    flex-direction: column;
  }
  #chart {
    margin-top: unset;
  }
}
@media (max-width: 610px) {
  #title{
    flex-direction: column;
  }
  #title img{
    padding-bottom: 15px;
  }
  #inputs-wrapper{
    flex-direction: column;
  }
}
footer {
    /* background-color: #34495a; */
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: end;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.social-links {
  align-items: center;
  display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0;
}

.social-links li {
    display: inline-block;
    /* margin: 0 5px; */
}

.social-links a {
    color: #4c52bb;;
    text-decoration: none;
    font-size: 16px;
}

.social-links a:hover {
    text-decoration: underline;
}